{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}User test{% endblock %}</title>
    {% block meta %}{% endblock %}
</head>

<body>
    <div id="header">
    {% block header %}
    <a href="{% url 'polls:index' %}">{% trans "Home" %}</a> | 

    {% if user.is_authenticated %}
        {% trans "Currently logged in as" %}: {{ user.username }} 
        (<a href="{% url 'logout' %}">{% trans "Log out" %}</a> | 
        <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>)
    {% else %}
       <a href="{% url 'login' %}">{% trans "Log in" %}</a>
    {% endif %}
    <hr />
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>
</body>

</html>
